body{
    font-family : Arial, sans-serif;
    background: #f2f2f2;
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding : 2rem;
    border-radius : 10px;
    text-align : center;
    box-shadow : 0 0 10px rgba(0,0,0,0.1);
}

#value {
    font-size : 4rem;
    margin : 1rem 0 ;
}

button{
    padding : 0.5rem 1rem;
    margin : 0.5rem;
    font-size : 1.2rem;
    border : none;
    border-radius : 5px;
    cursor : pointer;
}

#decrease {
    background : #ff4d4d;
    color : white;
}

#reset {
    background : #cccccc;

}

#increase {
    background : #4CA550;
    color : white;
}